<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnsayMaau.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10ABFF3F1EF250940087F05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10ABFF531EF250950087F05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10ABFF5E1EF250950087F05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
